@import-normalize; /* bring in normalize.css styles */

.app {
  text-align: center;
}

.app-header {
  background-image: linear-gradient(120deg, rgba(18, 18, 18, 0.4), rgba(18, 18, 18, 0.4)),
    url("./assets/index-image.jpeg");
  background-size: cover;
  background-position: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.app-wrapper .image-wrapper {
	perspective: 800px;
  height: auto;  
  -webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.image-wrapper img {
	width: 300px;
	height: 200px;
}
.app-wrapper{
  display: grid;
  place-content: center;
  height: 100vh;
}
a {
  text-decoration: none;
}
.app-header button {
  background: #002744;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 1rem;
}
.app-header button:hover{
    transform: scale(1.12);
}
.app-header p{
  margin:0;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
